*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}


/* ESTILOS DEL MENU*/


.nombreweb h1{
    font-size: 50px;
}


div.menu {
    background-color: rgb(43, 43, 43);
    margin: 0.3%;
    position: relative;
    width: 99.3%;
    height: 80px;
}

.webinfo{
    position: absolute;
    
    top: 11%;
    left: 1%;
    width: 20%;
    height: 80%;
}

.logo {
    position: absolute;
    width: 20%;
    height: 100%;
    bottom: 10px;
    top: -5px;
}


div.logo > img{
    background-color: transparent;
    max-width: 100%;
}


div.nombreweb{
    position: absolute;
    left: 25%;
    top: 6%;
}


.all{
    color: white;
}
.shoes{
    color: orangered;
}


div.menuenlaces{
    position: absolute;
    top: 11%;
    left: 35%;
    width: 64.5%;
    height: 80%;
    display: flow-root;
    top: 20%;
    
}

div.menuenlaces div {
    width:auto;
    float: right;
    text-align: center;
    
}

.menuenlaces div a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: block;
    text-wrap: nowrap;
}
.menuenlaces div a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}
.linea:after {
    content: " ";
    display: block;
    border-bottom: 3px solid rgb(51, 51, 51);
    display: relative;
    height: 12px;
}

/* ESTILOS DE LA PAGINA INICIO*/

.contenedor{
    margin: 0.3%;
    position: relative;
    width: 99.3%;
    height: 780px;
    margin-top: 10px;
}

/* ESTILOS DE LA IMAGEN GRANDE*/

.parte1{
    position: absolute;
    width: 98%;
    height: 420px;
    top: 2%;
    left: 1%;
    background-image: url(../images/Carroussel/Carroussel-1.webp);
    max-width: 100%;
    background-size: cover;
    background-position: center 76%;
    background-repeat: no-repeat;
}

.textoparte1{
    position: absolute;
    width: 20%;
    height: 150px;
    top: 26%;
    left: 2%;
}

.textoparte1 h1{
    font-size: 51px;
    font-weight: 400;
    color: white;
}

/* ESTILOS DEL TEXTO Y LAS IMAGENES PEQUEÑAS*/

.parte2{
    position: absolute;
    width: 98%;
    height: 330px;
    top: 57%;
    left: 1%;
    max-width: 100%;
}

.textoparte2{
    position: absolute;
    width: 40%;
    height: 300px;
    top: 4%;
    left: 1%;
    max-width: 100%;
}

.textoparte2 .texto{
    position: absolute;
    margin: 10px;
    width: 96%;
    height: 200px;
    font-size: 20px;
    color: black;
    letter-spacing: 2px;
}

.textoparte2 .boton{
    position: absolute;
    top: 70%;
    margin: 10px;
    width: 60%;
    height: 50px;
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius: 40px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 30px;
}

.boton:hover{
    background-color: white;
    color: black;
}

.imagenes{
    position: absolute;
    width: 57%;
    height: 300px;
    top: 4%;
    left: 42%;
    max-width: 100%;
    display: flow-root;
}

.zapatos{
    width:auto;
    float: left;
    text-align: center;
    width: 32%;
    height: 97%;
    margin: 5px;
    background-size: cover;
    background-position: center 76%;
    background-repeat: no-repeat;
}

.zapato1{
    background-image: url(../images/Articulos/Articulo-1.webp);
}
.zapato2{
    background-image: url(../images/Articulos/Articulo-2.webp);
}
.zapato3{
    background-image: url(../images/Articulos/Articulo-3.webp);
}
